.shop {
    display: flex;
    border: 1px dashed black;
    width: 30%;
}
.pageHeader {
    /* border: 1px solid red; */
    text-align: center;
}
.list {
    /* border: 1px solid green; */
 display: flex;
 flex-direction: row; 
flex-wrap: wrap;
justify-content: space-evenly;
}
h1{
    font-size: 3em;
}
